*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f0f0f0;
    font-family: Roboto, sans-serif;
}

/* First container  */

.container{
    height:500px;
    background-color: #1F2937;
    padding: 0 200px;
    padding-top: 15px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.hero-container{
    margin-top: 120px;
    display: flex;
    width: 100%;
    height: 300px;
}

.hero {
    padding: 10px 0px;
    padding-right: 45px;
}

.hero h1{
    color: #F9FAF8;
    font-size: 49px;
    font-weight: 900;
}

.hero p{
    color: #E5E7EB;
    font-size: 18px;
}

.button {
    padding: 10px 40px;
    background-color: #3882F6;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: #F9FAF8;
    margin-top: 15px;
}

.hero-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

/* Second Container  */

.container-two{
    background-color: #FFF;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-two h1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
}

.card-container{
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 220px;
}

.card img{
    width: auto;
    height: 130px;
    border: #1F2937 3px solid;
    border-radius: 10px;
}

.card p{
    margin-top: 5px;
    padding: 20px 0px;
    text-align: center;
}

/* Third Container  */

.container-three{
    background-color: #E5E7EB;
    padding: 150px 300px;
    /* display: flex;
    flex-direction: column; */
}

.container-three h1{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.container-three h3{
    font-size: 18px;
    color: #1F2937;
    margin-top: 20px;
    text-align: right;
}